html{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    min-height: 90vh;
}

.title{
    display: flex;
    color: whitesmoke;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 4px 10px rgb(0, 0, 0);
    line-height: 1;
}


.serviceSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
