.title{
    color: whitesmoke;
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 4px 10px rgb(0, 0, 0);

}

.kanbanContainer{
    width: 90vw;
    overflow-x: auto;
    padding: 20px;
    box-sizing: border-box;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    background-color: rgb(200, 42, 42);

    border-radius: 1rem;
    box-shadow: inset 1px 2px 10px rgb(0, 0, 0);
}

.kanbanBoard{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;

    width: max-content;
    min-width: 100% ;
    box-sizing: border-box;
}

.buttonDiv{
    display: flex;
    justify-content: space-evenly;
}